/* 页面初始化 */
* {margin: 0; padding: 0;}
a {text-decoration: none;}
ul {list-style: none;}

.content {
    display: flex;
    width: 100vw;
    height: calc(100% - 107px);
    min-height: calc(100vh - 107px);
}

.staff {
    flex: auto;
    padding: 10px;
}

label {
    padding-left: 15px;
}