/* 页面初始化 */
* {margin: 0; padding: 0;}
a {text-decoration: none;}
ul {list-style: none;}

.manage {
    flex: auto;
    padding: 10px;
}

.staff_form {
    margin-top: 20px;
}

.form_btn {
    background: #5e5e5e;
    color: white;
}

.form_btn:hover {
    color: white;
}

.form_btn:active {
    color: white;
}

.form_btn:focus {
    color: white;
    outline: 0;
}

.staff_tbl {
    margin-top: 20px;
}


