/* 页面初始化 */
* {margin: 0; padding: 0;}
a {text-decoration: none;}
ul {list-style: none;}
h1 {margin: 0;}
h3 {margin: 0;}

.nav {
    width: 200px;
    height: 550px;
    border-right: 2px solid #5e5e5e;
}

.nav_title {
    color: #5e5e5e;
    font-family: 黑体;
    font-weight: bold;
    padding-top: 10px;
}

.title_main {
    padding-left: 25px;
    font-size: large;
}

.hide_title {
     display: none;
}

.hide_title li {
    line-height: 30px;
    padding-left: 40px;
}

.second_title li {
    padding-left: 60px;
}

.hide_title a {
    color: #5e5e5e;
    font-family: 黑体;
    font-weight: bold;
    line-height: 30px;
}

.hide_title a:hover {
    text-decoration: none;
    color: white;
}

.hide_title>a>li:hover {
    background: #5e5e5e;
}