<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.ntu.dao.StaffDao">
    <resultMap id="staff" type="edu.ntu.bean.Staff">
        <id property="id" column="s_id"/>
        <result property="no" column="s_no"/>
        <result property="name" column="s_name"/>
        <result property="gender" column="s_gender"/>
        <result property="password" column="s_password"/>
        <result property="workdate" column="s_workdate"/>
        <result property="position" column="s_position"/>
        <result property="mail" column="s_mail"/>
        <result property="phone" column="s_phone"/>
        <result property="idcard" column="s_idcard"/>
        <result property="address" column="s_address"/>
    </resultMap>

    <select id="findByName" resultMap="staff">
        select s_password from staff
        where s_name=#{name}
    </select>

    <insert id="add">
        insert into staff(
          s_no,
          s_name,
          s_gender,
          s_password,
          s_workdate,
          s_position,
          s_mail,
          s_phone,
          s_idcard,
          s_address,
          s_department_id
        )
        values (
          #{no},
          #{name},
          #{gender},
          #{password},
          #{workdate},
          #{position},
          #{mail},
          #{phone},
          #{idcard},
          #{address},
          #{department.id}
        )
    </insert>
</mapper>